{% extends 'base.html' %}

{% block title %}Home - Note-It{% endblock %}

{% block head %}
    <style>
        .text-multiline {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 6; 
            line-clamp: 6;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        }
    </style>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center my-4">
    <a class="navbar-brand" href="{{url_for('noteEditor')}}">
        <div class="card text-center shadow-sm" style="width: 18rem;">
            <div class="card-body">
                <img src="{{ url_for('static', filename='add.png') }}" alt="Add Note"
                class="img-fluid mb-3"
                style="max-height: 100px; object-fit: contain;" >
                <h5 class="card-title">Add New Note</h5>
            </div>
        </div>
    </a>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% if notes %}
            {% for note in notes %}
            <div class="col">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div>
                                <h5 class="card-title">{{note.title}}</h5>
                                <p class="card-text text-multiline">
                                    {{ note.content.replace('\n', '<br>') | safe }}
                                </p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted cursor-default"> Modified : {{ note.time_modified.strftime('%Y-%m-%d %H:%M') }}</small>
                                <div class="d-flex">
                                    <a href="{{url_for('noteEditor',note_id=note.id)}}">
                                        <button class="btn btn-outline-dark btn-sm" title="edit">&#9998;</button>
                                    </a>
                                    <a href="{{url_for('delete_note',id=note.id)}}">
                                        <button class="btn btn-outline-dark btn-sm ms-2" title="delete">&#128465</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif%}
    </div>
</div>
{% endblock %}
